@font-face{
    font-family: 'Monterrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Monterrat';
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Monterrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$padding: 15px;
$borders: 15px;

$colors: (
    primary : #005dff,
    primary-light: lighten(#005dff, 40%),
    primary-dark: darken(#005dff, 40%),
    accent: #fff6bb,
);

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body, html {
    height: 100%;
}

body { 

    font-family: 'Monterrat';
    margin: 0;
    
    #bg {
        clip-path: polygon(100% 0, 100% 85%, 35% 100%, 0 100%, 0 0);
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -10;
        transition: clip-path .5s ease-in-out;

        @include desktop {
            &:hover {
                clip-path: polygon(100% 0, 100% 85%, 35% 100%, 0 100%, 0 0);
            }
            clip-path: polygon(0 0, 75% 0, 54% 100%, 0% 100%);
        }
    }

    .bg-clear{
        background-image: url('https://cdna.artstation.com/p/assets/images/images/009/499/568/large/dominik-trojan-lowpoly1.jpg?1519329624');
    }

    .bg-cloudy{
        background-image: url('https://img2.cgtrader.com/items/2021044/f93a376dbe/3d-clouds-generator-animated-3d-model-low-poly-animated-max-bip.jpg');
        filter: brightness(80%);
    }

    header a {
        color: #fff;
        text-decoration: none;
        padding: $padding;
        display: block;
        text-transform: uppercase;
    }
}

main {

    @include desktop {
        display: grid;
        grid-template-areas:
            "primary card"
            "deck deck";
         grid-template-columns: 50% auto;
        //  grid-template-rows: 100px;
    }
    section.main_card {
        background: linear-gradient(90deg, rgba(81, 9, 255, 1) 0%, rgba(36, 167, 255,1) 100%);
        color: #fff;
        padding: 2em;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
        width: 80%;
        min-height: 200px;

        @include desktop {
            grid-area: card;
            height: fit-content;
            align-self: center;
            margin: 1em;
        }

        i {
            position: relative;
            float: right;
            font-size: 3em;
        }

        h1 {
            font-size: 2.5em;
            small {
                font-weight: 100;
                font-size: 0.75em;
            }  
        }
        
        h2 {
            font-size: 2em;
            text-transform: capitalize;
            // text-align: center;
            span {
                letter-spacing: 0.1px;
                font-weight: normal;
                font-size: small;
            }
        }
    }

    section#primary {
        color: #fff;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }

        h1 {
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: bolder;

            @include desktop {
                width: 30%;
                font-size: 4em;
                line-height: .9em;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            color: map-get(
                $map: $colors,
                $key: primary-dark
            );
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: map-get(
                $map: $colors,
                $key: accent
            );
            text-align: center;
            margin: 50px auto 0 auto;
            padding: $padding;

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
            }
        }
    }

    section#deck{

        @include desktop {
            display: inline-flex;
            grid-area: deck;
            margin-top: -2em;
        }

        section.card {
            background: rgba(255, 255, 255, 0.9);
            padding: 20px;
            margin: 1em auto;
            border-radius: $borders;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            max-width: 200px;
            max-height: 150px;

            i {
                position: relative;
                float: right;
                font-size: 3em;
            }

            h3 {
                small {
                    font-weight: 100;
                }  
            }
            
            h2 {
                text-align: center;
                text-transform: capitalize;
                span {
                    letter-spacing: 0.1px;
                    font-weight: normal;
                    font-size: small;
                }
            }
        }
    }
}